@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer components {
  .input {
    @apply bg-gray-50 border border-gray-400
    sm:text-sm rounded-lg fill-current
    block w-full p-2.5 m-2 shadow-lg nm-inset-blue-800
    dark:nm-inset-gray-800;
  }
  .btn-blue {
    @apply bg-gray-50 border border-blue-800 dark:border-gray-800
    text-white font-bold py-2 px-4 m-2 rounded
    shadow-lg nm-convex-blue-800
    dark:nm-convex-gray-800 active:nm-inset-blue-800 dark:active:nm-inset-gray-800;
  }
  .chip {
    @apply inline-block
     px-3 py-1 text-sm font-semibold text-gray-700 mx-1 rounded-full
     shadow-lg nm-flat-blue-800-lg  dark:nm-flat-gray-800-lg;
  }
}
